.card-detail-item.js-card-detail-start-date
    h3.card-detail-item-header Start Date
    a.card-detail-badge.js-card-detail-start-date-badge.is-start-now.js-details-edit-start-date.is-clickable(href='#')
        | dfg
