.quick-card-editor-buttons.fade-in.quick-relations
  a.quick-card-editor-buttons-item.js-edit-labels(data-relation-type='association')
    span.icon-sm.icon-association.light
    span.quick-card-editor-buttons-item-text Association
  a.quick-card-editor-buttons-item.js-edit-labels(data-relation-type='dependency')
    span.icon-sm.icon-dependency.light
    span.quick-card-editor-buttons-item-text Dependency
  a.quick-card-editor-buttons-item.js-edit-labels(data-relation-type='aggregation')
    span.icon-sm.icon-aggregation.light
    span.quick-card-editor-buttons-item-text Aggregation
  a.quick-card-editor-buttons-item.js-edit-labels(data-relation-type='composition')
    span.icon-sm.icon-composition.light
    span.quick-card-editor-buttons-item-text Composition
  a.quick-card-editor-buttons-item.js-edit-labels(data-relation-type='generalization')
    span.icon-sm.icon-generalization.light
    span.quick-card-editor-buttons-item-text Generalization
  a.quick-card-editor-buttons-item.js-edit-labels(data-relation-type='realization')
    span.icon-sm.icon-realization.light
    span.quick-card-editor-buttons-item-text Realization
