div
  .report-chart-pie
    canvas#boardChart(width='200', height='200')
  .report-chart-bar
    canvas#labelsChart(width='500', height='200')
  .report-chart-line
    .chart-header
      span.sm
        a#prev.boards-page-board-section-header-options-item Prev
      span
        a#title.boards-page-board-section-header-options-item
      span.sm
        a#next.boards-page-board-section-header-options-item Next
        span
    canvas#actionsChart(width='800', height='200')
